<h1 class = "centered">Search Results</h1>

<table class = "job-listing">
    @foreach (var item in ViewBag.jobs)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Employer</td>
            <td>@item.Location</td>
            <td> @item.PositionType</td>
            <td>@item.CoreCompetency</td>
        </tr>
    }
</table>
