<div class="container body-content">

    <h1>@ViewBag.title</h1>

    
        @*//TODO #1: Use a loop to display job results in a table.*@
        
            @foreach (var item in ViewBag.jobs)
            {
                <table class = "job-listing">
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Employer</td>
                        <td>@item.Location</td>
                        <td> @item.PositionType</td>
                        <td>@item.CoreCompetency</td>
                    </tr>
                </table>

            }



</div>